* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: #E6E6E6;
    scroll-behavior: smooth;
}

.outer-box-container {
    min-height: 100%;
}

.main {
    overflow: auto;
    padding-bottom: 100px;
}

.footer {
    position: relative;
    background-color: #393636;
    height: 100px;
    margin-top: -100px;
    clear: both;
}

.container {
    height: 100vh;
    width: 100%;
}


#check {
    display: none;
}

a {
    text-decoration: none;
}

.header nav ul {
    display: flex;
}

.header nav ul li {
    list-style: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    z-index: -1;
}

.logo {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #5F5A5A;
    font-weight: lighter;
}

.navbar ul li a {
    font-family: 'Inter', sans-serif;
    color: #5F5A5A;
    font-size: 1rem;
    margin-left: 2rem;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Abel', sans-serif;
}

.inner-container {
    text-align: center;
}

.inner-container h1 {
    font-size: 7rem;
    font-weight: lighter;
}

.inner-container p {
    margin-top: 3%;
    font-size: 1.5rem;
    margin-bottom: 10%;
}

.inner-container a {
    font-size: 0.9rem;
    color: #393636;
    padding: 25px 20px;
    border: 1px solid #393636;
    border-radius: 8px;

}

#about {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    max-width: 40%;
    margin: 0 100px;
}

#about h2 {
    font-family: 'Inter', sans-serif;
    color: #5F5A5A;
    position: absolute;
    top: 110%;
    left: 15%;
}

.inner-box-right {
    margin-top: -3%;
}

.inner-box-left img {
    border: 1px solid #393636;
}

.inner-box-right h1 {
    font-family: 'Inter', sans-serif;
    font-size: 5rem;
}

.inner-box-right p {
    font-family: 'Abel', sans-serif;
    font-size: 1.3rem;
    color: #393636;
    margin-top: 4%;
    margin-bottom: 10%;
    text-align: left;
    padding: 0 300px 0 0;
}

.inner-box-right a {
    font-family: 'Abel', sans-serif;
    color: #393636;
    border: 1px solid #393636;
    border-radius: 8px;
    padding: 20px 30px;
}

.inner-footer-container {
    height: 100%;
    font-family: 'Abel', sans-serif;
    color: #E6E6E6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inner-footer-container ul {
    list-style: none;
}

.inner-footer-container section ul:first-child {
    display: flex;
}

.inner-footer-container section ul:nth-child(2) {
    display: flex;
}

.inner-footer-container ul li a {
    color: #E6E6E6;
    margin-left: 50px;
}

.outer-box-skills {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Abel', sans-serif;
    color: #393636;
}

.skills {
    height: 100%;
    width: 50%;
}

.box-skill {
    width: 100%;
}

.html,
.css,
.js {
    text-align: center;
    font-weight: bolder;
    padding: 3px 0;
    color: #E6E6E6;
    border-radius: 8px;
    background-color: #FF7552;
}

.html {
    width: 90%;
}

.css {
    width: 85%;
}

.js {
    width: 75%;
}


#skills h2 {
    font-family: 'Inter', sans-serif;
    color: #5F5A5A;
    position: absolute;
    top: 225%;
    left: 15%;
}

.inner-box-skills-left {
    display: flex;
    height: 47%;
}

.box-box {
    margin-left: 30%;
    width: 100%;
}

.box-skill {
    margin: 5% 0;
}

.inner-box-skills-right {
    height: 47%;
    display: flex;
    flex-direction: column;
}

.inner-box-skills-right img {
    height: 400px;
    width: 600px;
}

@media only screen and (max-width: 1500px) {

    .inner-box-right h1 {
        font-size: 3rem;
    }

    .inner-box-right p {
        font-size: 1.4rem;
        padding: 0;
    }

    .skills img {
        height: 200px;
        width: 400px;
    }

}

/* for bigger screens (laptop) */
@media only screen and (min-width: 1000px) {
    .icons {
        display: none;
    }

    .social-icons {
        display: none;
    }


}

/* for smaller screens (tablet) */
@media only screen and (max-width: 1000px) {
    .inner-container h1 {
        font-size: 5rem;
    }

    .inner-container p {
        margin-top: 5%;
        margin-bottom: 13%;
    }

    .outer-box {
        flex-direction: column;
    }

    #about h2 {
        font-size: 1rem;
    }

    .inner-box-right h1 {
        font-size: 1.3rem;
        margin-top: 15%;
    }

    .inner-box-right p {
        font-size: 1rem;
        padding: 0;
        margin-top: 8%;
        margin-bottom: 15%;
    }

    .inner-box-left img {
        height: 300px;
        width: 300px;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        backdrop-filter: blur(15px);
        overflow: hidden;
        transition: all ease-out 0.3s;
    }

    #check:checked~.navbar {
        height: 15rem;
    }


    .navbar ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .navbar ul li {
        line-height: 3rem;
    }

    .burger-menu {
        display: block;
    }


    #check:checked~.icons .burger-menu {
        display: none;
    }

    .close-menu {
        display: none;
    }


    #check:checked~.icons .close-menu {
        display: block;
    }

    .text-social {
        display: none;
    }
}




/* for mobile phones */

@media only screen and (max-width: 700px) {
    .outer-box-skills {
        display: flex;
        flex-direction: column;
    }

    .inner-box-skills-left {
        width: 70%;
        height: 47%;
        display: flex;
        align-items: flex-end;
    }

    .box-box h3 {
        font-size: 0.8rem;
        margin: 0;
    }

    .box-box {
        margin-top: 3%;
        margin-left: 0;
    }

    .inner-box-skills-right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media only screen and (max-width: 480px) {
    .inner-container h1 {
        font-size: 5rem;
    }

    .inner-container p {
        margin-top: 10%;
        font-size: 1.3rem;
        margin-bottom: 20%;
    }

    .outer-box {
        flex-direction: column;
    }

    #about h2 {
        font-size: 1rem;
    }

    .inner-box-right h1 {
        font-size: 1.3rem;
        margin-top: 20%;
    }

    .inner-box-right p {
        font-size: 1rem;
        padding: 0;
        margin-top: 10%;
        margin-bottom: 30%;
    }

    .inner-box-left img {
        height: 200px;
        width: 200px;
    }

    .inner-footer-container p {
        font-size: 0.8rem;
    }

    .inner-box-skills-right img {
        height: 150px;
        width: 250px;
    }
}